.container1 {
  background-color: rgb(255, 0, 0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 1s ease, top 1s ease;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 200px;
}

.shrunk {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

.titleText {
  transition: transform 1s ease;
}

.shrunk .titleText {
  transform: translateX(700px) scale(0.1);
  transform-origin: center;
}
